
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-color: #40c9c2;
    background-position: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 1.2;
    justify-content: center;
    text-align: center;
}
button#back {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease, background-color 0.3s ease;
    margin: 4em 0 0 4em;
}
      
#back:hover {
  background-color: #d2dff5;
  color: #1a73e8;
  transform: translateY(-5px);
}
   
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    margin-top: 50px;
}
.heading h1{
    font-size: 25px;
    color: #080808;
    margin-bottom: 10px;
    position: relativee
}
.heading p{
    font-size: 16px;
    color: hsla(0, 0%, 8%, 0.363);
    margin-bottom: 25px; 
}
.container{
    width: 70%;
    margin: 0 auto;
    padding: 10px 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{
    flex: 1.5;
    margin: right 45px; 
    overflow: hidden;
}
.about-image img{
    width: 90%;
    height: 45%;
    display: flex;
    transition: 0.1s ease;
    margin-top: 30px;
}
.about-image:hover img{
    transform: scale(1.1);
}
.about-content{
    flex: 1;
}
.about-content h2{
    font-size: 25px;
    margin-top: 6px;
    color: #111111;
}
.about-content p{
    font-size: 25px;
    color: #111111;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top:30px ;
    position: absolute;
}
@media screen and (max-width:760px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 25px;
    }
    .heading p{
        font-size: 25px;
        margin-right: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 50px;
        margin-bottom: 0px;
    }
    .about-content p{
        padding: 0px;
        font-size: 25px;
    } 
    
}
